<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <main phx-view>
    <h1>Hello, {{name}}!</h1>
  </main>

  <script src="/public/phoenix_live_view.js"></script>
  <script src="/public/app.js"></script>
</body>
</html>

